
.mainForMainSection {	
	margin: 0.5rem 1rem;
}
.Calender{
	background-color:blue;
	padding: 1rem;
	border-radius: 0.4rem;
	& .month {
		border-radius: 0.4rem;
		background-color: gray;
		padding:0.4rem;
		& h3{
			padding:0 0.4rem;
			border-radius: 0.4rem; 
			background-color:blue;
		}
		& span {
			display:inline-block;
			padding:0.3rem;
			margin:0.4rem 0.2rem;
			border-radius: 0.2rem;
			background-color:green;
			user-select:none;	
			transition:transform 0.2s ease-in-out;		
			&:hover{
				cursor:pointer;
				transform: scale(1.1);
			}
			&:active{
				cursor:pointer;
				transform: scale(0.9);
			}			
			&:not(:hover){
				cursor:unset;
				transform: scale(1);
			}
			&[r]{
				background-color:red;
			}
			
		}	
	}
}
