
/* #myNavbar {
	--flexRootSize: 16px;	
	display: flex;
	flex-direction: row;
	border-radius: calc(var(--flexRootSize)*0.4);
	margin: 0 var(--flexRootSize) 1rem;
	padding: calc(var(--flexRootSize)/2);
	justify-content: center;
	box-shadow:0 0 15px gray;
	
	& #partOne {
			width: 100%;
			padding:0 var(--flexRootSize) ;
			display:flex;
			border-radius: inherit;
			align-items:center;
	
			& img{
				height:45px;
				width:45px;
				border-radius: 10px;
				transition: transform 0.05s;
				&:hover{
					cursor:pointer;
				}
				&:active{
					transform:scale(0.9);
					cursor:pointer;
				}
			}
			& h3{
				font-family:monospace;
				margin:0 0.5rem;
			}
		}
		
	& #partTwo {
			width: 100%;
			padding:0 var(--flexRootSize);			
			display:flex;
			border-radius: inherit;
			flex-direction: row-reverse;
			align-items:center;
			
			
			& img{
				height:45px;
				margin:0 0.5rem;
				width:45px;
				border-radius: 10px;
				background-color: whitesmoke;
				transform: scale(0.8);
				transition: transform 0.05s;
				&:hover{
					cursor:pointer;
				}
				&:active{
					transform:scale(0.9);
					cursor:pointer;
				}
			}
		}
} */

#myNavbar {
    --flexRootSize: 16px;
    display: flex;
    flex-direction: row;
    border-radius: calc(var(--flexRootSize)*0.4);
    margin: 0 var(--flexRootSize) 1rem;
    padding: calc(var(--flexRootSize)/2);
    justify-content: center;
    box-shadow: 0 0 15px gray;
}

#myNavbar #partOne {
    width: 100%;
    padding: 0 var(--flexRootSize);
    display: flex;
    border-radius: inherit;
    align-items: center;
}

#myNavbar #partOne img {
    height: 45px;
    width: 45px;
    border-radius: 10px;
    transition: transform 0.05s;
}

#myNavbar #partOne img:hover {
    cursor: pointer;
}

#myNavbar #partOne img:active {
    transform: scale(0.9);
    cursor: pointer;
}

#myNavbar #partOne h3 {
    font-family: monospace;
    margin: 0 0.5rem;
}

#myNavbar #partTwo {
    width: 100%;
    padding: 0 var(--flexRootSize);
    display: flex;
    border-radius: inherit;
    flex-direction: row-reverse;
    align-items: center;
}

#myNavbar #partTwo img {
    height: 45px;
    margin: 0 0.5rem;
    width: 45px;
    border-radius: 10px;
	background-color: whitesmoke;
	transform: scale(0.8);
    transition: transform 0.05s;
}

#myNavbar #partTwo img:hover {
    cursor: pointer;
}

#myNavbar #partTwo img:active {
    transform: scale(0.9);
    cursor: pointer;
}